<% if user_signed_in? %>
  <div class="weekly-menu-container">
    <% 7.times do %>
      <div class="daily-menu-container">
        1日分のトレーニングメニュー
      </div>
    <% end %>
  </div>
<% end %>
<% if user_signed_in? && current_user.admin? %>
  <div>
  <%= link_to "メニューを作成する", new_menu_path %>
  <%= link_to "HIITを作成する", new_hiit_path %>
  <%= link_to "グループを作成する", new_group_path %>
<% end %>