<div class="team-show team-name-container">
  <div class="team-name">
    <%= @team.name %>
  </div>
  <%= link_to "チーム名を変更する", edit_team_path(@team), class:"team-name-submit" %>
</div>
<div class="team-show team-member-container">チームメンバーとグループを表示するボックス</div>
<div class="team-show team-hiit-container">HIITを表示するボックス</div>
<div class="team-show team-menu-container">メニューを表示するボックス</div>