<h1><%= @user.name %>のトレーニングメニュー</h1>
<div class="weekly-menu-container">
  <% 7.times do %>
    <div class="daily-menu-container">
      1日分のトレーニングメニュー
    </div>
  <% end %>
</div>
<% if current_user.admin? %>
<div><%= link_to "#{@user.name}を削除する", user_path(@user), method: :delete %></div>
<div><%= link_to "チームのページに戻る", team_path(@team) %></div>
<% end %>