<div>お名前：<%= link_to current_user.name, user_path(current_user) %></div>
<div>チーム名：<%= link_to current_user.team.name, team_path(current_user.team)  %></div>
<div>グループ名：</div>
<div>本日の予定：</div>
<div>
  <%= link_to "ユーザー情報を編集する", edit_user_registration_path %>
  <%= link_to "ホーム画面へ戻る", root_path %>
</div>