<div class="header-logo">
  HiitApp
</div>
<div class="header-side-menu">
  <!--ユーザーがログインしているかどうかで表示内容を変更-->
  <!--ログインしていない場合-->
  <%= link_to "チームを登録する", new_team_path %>
  <%= link_to "ユーザーを登録する","#" %>
  <%= link_to "ログインする","#" %>
  <!--ログインしている場合の表示-->
  <!--チーム名-->
  <!--ユーザー名表示部分-->
  <!--グループ名表示部分-->
</div>