/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 /* 共通ヘッダー */
 header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ヘッダーロゴ */
.header-logo{
  font-size: 40px;
}

/* ヘッダー右側のメニュー */
.header-side-menu a{
  text-decoration: none;
  color: black;
}

.team-user-container{
  display: flex;
}

.group{
  text-align: center;
}

/* チーム登録画面 */

.error-messages-container, .team-main-title{
  text-align: center;
}

.team-name-field, .team-new-btn{
  display: block;
  margin: 0 auto;
}

/* チーム詳細画面 */
.team-show{
  display: flex;
}

.team-name-container{
  justify-content: space-around;
}

.team-name-container a{
  text-decoration: none;
  color: black;
}

/* チーム編集画面 */
.team-main a{
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
}